<div class="row calendar-env">
	<div class="col-md-12 text-center">
		<div class="btn-group" style="margin:auto;">
			
			<%= link_to raw("<i class=\"fa fa-arrow-left\"></i>"), store_manager_dashboard_path(@store, date: (@date - 1.day)), class: "btn btn-white", style: "font-size: 20px;" %>
			
			<input type="text" name="reportdate" value="<%= @date.strftime("%m-%d-%Y") %>" class="btn btn-white" style="height:42px;" />
			
			<%= link_to raw("<i class=\"fa fa-arrow-right\"></i>"), store_manager_dashboard_path(@store, date: (@date + 1.day)), class: "btn btn-white", style: "font-size: 20px;" %>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function() {
	  
	  $('input[name="reportdate"]').daterangepicker({
	    singleDatePicker: true,
	    showDropdowns: true
	  },

	  function(start, end, label) {
	  	var urlWithoutParams = location.protocol + '//' + location.host + location.pathname;
	  	var params = { locale:'en', date:start.format('DD-MM-YYYY') };
			var dateParam = jQuery.param(params);
			window.location.href = urlWithoutParams + "?" + dateParam;
	  });
	});
</script>

<div class="row mt-40 mb-40">
	<div class="col-sm-12">
		<h3>Sales Summary</h3>
	</div>	
</div>

<div id="div_store_dashboard_sales_counts">
	<%= render :partial=>"vyapari/store_manager/dashboard/sales_counts" -%>
</div>

<div class="row mt-40 mb-40">
	<div class="col-sm-6">
		<h3>Stock Summary</h3>
	</div>	
	<div class="col-sm-6">
		<%= link_to raw("<i class=\"fa-truck mr-10\"></i> View Stock"), store_manager_stock_entries_path(@store), class: "btn btn-primary pull-right ml-10 mt-20" %>
		<%= link_to raw("<i class=\"fa-upload mr-10\"></i> Import Stock"), store_manager_stock_bundles_path(@store), class: "btn btn-secondary pull-right mt-20" %>
	</div>
</div>


<div id="div_store_dashboard_stock_counts">
	<%= render :partial=>"vyapari/store_manager/dashboard/stock_counts" -%>
</div>

<div class="row mt-40 mb-40">
	<div class="col-sm-12">
		<h3>Terminals</h3>
	</div>
</div>

<div id="div_store_dashboard_terminals" class="mb-100">
	<%= render :partial=>"vyapari/store_manager/dashboard/terminals" -%>
</div>