<%
  
  url = url_for([:terminal_staff, @invoice, { terminal_id: @invoice.terminal_id}])

  if @invoice.new_record?
    http_method = :post
  else
    http_method = :put
  end

%>

<%= form_for(@invoice, :url => url, :method => http_method, :html => {:id=>"form_invoice", :class=>"mb-0 form-horizontal", :invoice => "form", :method => (@invoice.new_record? ? :post : :put), :remote=>true}) do |f| %>

      <div class="row">
        <div class="col-md-6">
          
          <div class="row mt-10 mb-10">
            <div class="col-md-4">Customer Name:</div>
            <div class="col-md-8">
              <%= f.text_field(:customer_name, style: "width:100%;") %>
            </div>
          </div>

          <div class="row mt-10 mb-10">
            <div class="col-md-4">Customer Address:</div>
            <div class="col-md-8">
              <%= f.text_field(:customer_address, style: "width:100%;") %>
            </div>
          </div>

          <div class="row mt-10 mb-10">
            <div class="col-md-4">Payment Method:</div>
            <div class="col-md-8">
              <!-- Radio Button for Cash -->
              <%= f.radio_button :payment_method, 'cash', class: "mr-5", :checked => true %> 
              <%= label :payment_method_cash, 'CASH', class: "mr-10" %>

              <!-- Radio Button for Credit Card -->
              <%= f.radio_button :payment_method, 'credit_card', class: "mr-5" %>
              <%= label :payment_method_credit_card, 'CREDIT CARD', class: "mr-10" %>

              <!-- Radio Button for Credit -->
              <%= f.radio_button :payment_method, 'credit', class: "mr-5" %>
              <%= label :payment_method_credit, 'CREDIT', class: "mr-10" %>

              <!-- Radio Button for Cheque -->
              <%= f.radio_button :payment_method, 'cheque', class: "mr-5" %>
              <%= label :payment_method_cheque, 'CHEQUE', class: "mr-10" %>
            </div>
          </div>

          <div class="row mt-10 mb-10">
            <div class="col-md-4">Credit Card Number:</div>
            <div class="col-md-8">
              <%= f.text_field(:customer_name, style: ";width:100%;") %>
            </div>
          </div>

          <div class="row mt-10 mb-10">
            <div class="col-md-4">Notes:</div>
            <div class="col-md-8">

              <%= f.text_area(:notes, style: "width:100%;height:80px;") %>

              <%#= theme_form_field(@invoice, :notes, required: true, form_style: "top-bottom", html_options: {type: :textarea, style: "height: 100px;"}) %>

              <!-- <div class="form-group "><label class=" control-label mb-20"><b>Notes</b><span class="text-color-red ml-10 mr-5 pull-right">*</span></label><div><textarea name="invoice[notes]" id="inp_notes" type="textarea" style="height: 100px;" class="text input form-control" place_holder=""></textarea></div></div> -->
            </div>
          </div>

        </div>

        <div class="col-md-6">
          
          <div class="row mt-10 mb-10">
            <div class="col-md-4 col-md-offset-2">Discount:</div>
            <div class="col-md-4">
              <%= f.text_field(:discount, style: "text-align: right;width:100%;") %>
            </div>
          </div>

          <div class="row mt-10 mb-10" style="font-weight: bold;">
            <div class="col-md-4 col-md-offset-2">Net Total:</div>
            <div class="col-md-4" style="text-align: right">
              <%= number_to_currency @invoice.net_total_amount, unit: "AED " %>
            </div>
          </div>

          <div class="row mt-10 mb-10">
            <div class="col-md-4 col-md-offset-2">Money Taken:</div>
            <div class="col-md-4">
              <%= f.text_field(:money_taken, style: "text-align: right;width:100%;") %>
            </div>
          </div>

          <div class="row mt-10 mb-10">
            <div class="col-md-4 col-md-offset-2">Customer Balance:</div>
            <div class="col-md-4" style="text-align: right">
              <%= number_to_currency @invoice.balance_to_give, unit: "AED " %>
            </div>
          </div>

        </div>

      </div>

      <div class="form-group ">

        <%= submit_tag("Save", :class=>"btn btn-info btn-lg pull-right ml-10", style: "width: 300px;") %>
        
        <%= link_to "Close", "#", onclick: "closeLargeModal();", class: "btn btn-gray btn-lg pull-right", style: "width: 100px;" %>
        
      </div>
      <%= clear_tag(10) %>

  </div>

<% end %>

