<% edit_link = edit_store_manager_stock_entry_path(@store, stock_entry) %>
      
<% delete_link = store_manager_stock_entries_path(@store, stock_entry) %>

<tr id="tr_stock_entry_<%= stock_entry.id %>">

  <th scope="row" style="text-align: center;">
    <% if i < 0 %>
      <i class="fa fa-check text-success"></i>
    <% else %>
      <%= i + 1 + (@per_page.to_i * (@current_page.to_i - 1)) %>
    <% end %>
  </th>

  <td class="stock_entry-name"><%= link_to stock_entry.id, store_manager_stock_entries_path(@store, stock_entry), remote: true %></td>

  <td class="stock_entry-name"><%= link_to stock_entry.code, store_manager_stock_entries_path(@store, stock_entry), remote: true %></td>

  <td class="stock_entry-name"><%= link_to stock_entry.display_stock_entry_type, store_manager_stock_entries_path(@store, stock_entry), remote: true %></td>

  <td class="stock_entry-name"><%= link_to stock_entry.region.try(:name), store_manager_stock_entries_path(@store, stock_entry), remote: true %></td>

  <td class="stock_entry-name"><%= link_to stock_entry.country.try(:name), store_manager_stock_entries_path(@store, stock_entry), remote: true %></td>

  <td class="action-links" style="width:10%">

    <%= link_to raw("<i class=\"linecons-pencil\"></i> Edit"), edit_link, :remote=>true, class: "edit" %>

    <%= link_to raw("<i class=\"linecons-trash\"></i> Delete"), delete_link, method: :delete, stock_entry: "menuitem", tabindex: "-1", data: { confirm: 'Are you sure?' }, :remote=>true, class: "delete" %>

  </td>

</tr>