<% 
  show_link = admin_brand_path(brand)
  edit_link = edit_admin_brand_path(brand)
  delete_link = admin_brand_path(brand)
%>

<tr id="tr_brand_<%= brand.id %>">

  <th scope="row" style="text-align: center;">
    <% if i < 0 %>
    <i class="fa fa-check text-success"></i>
    <% else %>
    <%= i + 1 + (@per_page.to_i * (@current_page.to_i - 1)) %>
    <% end %>
  </th>

  <td class="brand-name"><%= link_to brand.name, admin_brand_path(brand), remote: true %></td>

  <td class="hidden-xs hidden-sm">
    <% if brand.featured? %>
    <span class="mr-10 mt-5 label label-warning">Featured</span>
    <% end %>
  </td>

  <td>
    <% if brand.unpublished? %>
    <span class="ml-5 mt-5 label label-default">Un-Published</span>
    <% elsif brand.published? %>
    <span class="ml-5 mt-5 label label-success">Published</span>
    <% elsif brand.removed? %>
    <span class="ml-5 mt-5 label label-danger">Removed</span>
    <% end %>
  </td>

  <td class="action-links" style="width:10%">

    <%= link_to raw("<i class=\"linecons-eye\"></i> View More"), show_link, :remote=>true, class: "view" %>

    <%= link_to raw("<i class=\"linecons-pencil\"></i> Edit Brand"), edit_link, :remote=>true, class: "edit" if brand.can_be_edited? %>

    <%= link_to raw("<i class=\"linecons-trash\"></i> Delete"), delete_link, method: :delete, brand: "menuitem", tabindex: "-1", data: { confirm: 'Are you sure?' }, :remote=>true, class: "delete" if brand.can_be_deleted? %>

  </td>

</tr>