<div class="row">
      
  <div class="col-md-12">
    
    <ul class="nav nav-tabs">
    </ul>
    <div class="tab-content">
      <div class="tab-pane active">

        <div id="div_brand_action_buttons">
          <div class="row">
            <div class="col-md-6">
              
              <%= link_to raw("<i class='fa-plus'></i><span class='ml-10 btn-text hidden-sm hidden-xs'> New Brand</span>"), new_admin_brand_path, :class=>"btn btn-success pull-left mr-10", :remote=>true
              %>

              <%= link_to raw("<i class='fa-refresh'></i><span class='ml-10 btn-text hidden-sm hidden-xs'> Refresh</span>"), admin_brands_path, :class=>"btn btn-white pull-left mr-10", :remote=>true
              %>

              <!-- Single button -->
              <div class="ml-10 btn-group">
                <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  More Actions <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#">Import Brands</a></li>
                  <li><a href="#">Import History</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Export Brands</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <%= search_form_kuppayam(Brand, admin_brands_path, text: @filters[:query]) %>
            </div>
          </div>
        </div>
        <%= clear_tag(10) %>

        <div id="div_brand_index">
          <%= render :partial=>"vyapari/admin/brands/index" %>
        </div>
        <%= clear_tag(10) %>

      </div>
    </div>

  </div>

</div>