<%
	items = {
		users: {
			counts: {
				pending: User.normal_users.pending.count,
				approved: User.normal_users.approved.count,
				suspended: User.normal_users.suspended.count
			},
			text: "Users",
			icon_class: "fa-user",
			url: usman.admin_users_url
		},
		roles: {
			counts: {
				roles: Role.count
			},
			text: "Roles",
			icon_class: "linecons-graduation-cap",
			url: usman.admin_roles_url
		},
		brands: {
			counts: {
				published: Brand.published.count,
				unpublished: Brand.unpublished.count,
				removed: Brand.removed.count
			},
			text: "Brands",
			icon_class: "fa-usd",
			url: vyapari.admin_brands_url
		},
		categories: {
			counts: {
				published: Category.published.count,
				unpublished: Category.unpublished.count,
				removed: Category.removed.count
			},
			text: "Categories",
			icon_class: "fa-tags",
			url: vyapari.admin_categories_url
		},
		stores: {
			counts: {
				active: Store.active.count,
				inactive: Store.inactive.count,
				closed: Store.closed.count
			},
			text: "Stores",
			icon_class: "linecons-shop",
			url: vyapari.admin_stores_url
		},
		suppliers: {
			counts: {
				suppliers: Supplier.count
			},
			text: "Suppliers",
			icon_class: "fa-truck",
			url: vyapari.admin_suppliers_url
		},
		products: {
			counts: {
				published: Product.published.count,
				unpublished: Product.unpublished.count,
				removed: Product.removed.count
			},
			text: "Products",
			icon_class: "fa-cubes",
			url: vyapari.admin_products_url
		}
	}
%>
<div class="row">

	<% items.each do |key, values| %>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		
		<div class="xe-widget xe-vertical-counter xe-vertical-counter-white" data-count=".num" data-from="0" data-to="128" data-duration="4">
			<div class="xe-icon">
				<i class="<%= values[:icon_class] %>"></i>
			</div>
			
			<div class="xe-label">
				<strong class="num"><%= values[:text] %></strong>
			</div>

			<div class="xe-label" style="margin-top:10px; margin-bottom: 10px;height: 100px; overflow-y: auto;">
				<% values[:counts].each do |count_text, count_value| %>
				<span><%= count_text %>: <strong><%= count_value %></strong></span>
				<% end %>
			</div>

			<div class="xe-label">
				<span><%= link_to("Manage", values[:url], class: "btn btn-sm btn-primary btn-block") %></span>
			</div>
		</div>
		
	</div>
	<% end %>

	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		
		<div class="xe-widget xe-vertical-counter xe-vertical-counter-danger" data-count=".num" data-from="0" data-to="128" data-duration="4">
			<div class="xe-icon">
				<i class="linecons-shop"></i>
			</div>
			
			<div class="xe-label">
				<strong class="num">Visit Stores</strong>
			</div>

			<div class="xe-label" style="margin-top:10px; margin-bottom: 10px;height: 100px; overflow-y: auto;">
				<% Store.active.each do |store| %>
				<span><strong><%= store.name %></strong></span>
				<% end %>
			</div>

			<div class="xe-label">
				<span><%= link_to("Visit Store", vyapari.user_dashboard_url, class: "btn btn-sm btn-white btn-block") %></span>
			</div>
		</div>
		
	</div>
</div>

<div style="border-top:1px solid #FFF;margin-top:50px;margin-bottom:70px;"></div>

<% if @current_user.super_admin? %>

<%
	items = {
		countries: {
			counts: {
				countries: Country.count
			},
			text: "Countries",
			icon_class: "fa-globe",
			url: vyapari.admin_countries_url
		},
		regions: {
			counts: {
				regions: Region.count
			},
			text: "Regions",
			icon_class: "fa-map-marker",
			url: vyapari.admin_regions_url
		},
		exchange_rates: {
			counts: {
				settings: ExchangeRate.count
			},
			text: "Exchange Rates",
			icon_class: "fa-money",
			url: vyapari.admin_exchange_rates_url
		},
		features: {
			counts: {
				published: Feature.published.count,
				unpublished: Feature.unpublished.count,
				disabled: Feature.disabled.count
			},
			text: "Features",
			icon_class: "linecons-diamond",
			url: usman.admin_features_url
		},
		permissions: {
			counts: {
				rules: Permission.count
			},
			text: "Permissions",
			icon_class: "fa-lock",
			url: usman.admin_permissions_url
		}
	}
%>

<div class="row">

	<% items.each do |key, values| %>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		
		<div class="xe-widget xe-vertical-counter xe-vertical-counter-white" data-count=".num" data-from="0" data-to="128" data-duration="4">
			<div class="xe-icon">
				<i class="<%= values[:icon_class] %>"></i>
			</div>
			
			<div class="xe-label">
				<strong class="num"><%= values[:text] %></strong>
			</div>

			<div class="xe-label" style="margin-top:10px; margin-bottom: 10px;height: 100px; overflow-y: auto;">
				<% values[:counts].each do |count_text, count_value| %>
				<span><%= count_text %>: <strong><%= count_value %></strong></span>
				<% end %>
			</div>

			<div class="xe-label">
				<span><%= link_to("Manage", values[:url], class: "btn btn-sm btn-primary btn-block") %></span>
			</div>
		</div>
		
	</div>
	<% end %>

</div>

<% end %>