<div class="row">
      
  <div class="col-md-12">
    
    <ul class="nav nav-tabs">
    </ul>
    <div class="tab-content">
      <div class="tab-pane active">

        <div id="div_stock_bundle_action_buttons">
          <div class="row">
            <div class="col-md-6">

              <%= theme_button('Import Stock', 'plus', new_store_manager_stock_bundle_path(@store), classes: "pull-left", btn_type: "success") %>
              
              <%= theme_button('Refresh', 'refresh', store_manager_stock_bundles_path(@store), classes: "pull-left ml-10", btn_type: "white") %>
              
            </div>
            <div class="col-md-6">
              <%= search_form_kuppayam(StockBundle, store_manager_stock_bundles_path(@store), text: @filters[:query]) %>
            </div>
          </div>
        </div>
        <%= clear_tag(10) %>

        <div id="div_stock_bundle_index">
          <%= render :partial=>"vyapari/store_manager/stock_bundles/index" %>
        </div>
        <%= clear_tag(10) %>

      </div>
    </div>

  </div>

</div>