<div class="table-responsive"> 
	<table class="table table-hover members-table middle-align">
	  <thead> 
			<tr> 
				<th>Invoice Number</th>
				<th>Customer</th>
				<th>Date</th>
				<th style="text-align: right;">Total Amount</th>
			</tr> 
		</thead>
		
	  <tbody>
	  	<% invoices.each_with_index do |invoice, i| %>
	  		
	  		<tr id="tr_invoice_<%= invoice.id %>">
		      
		      <td class="invoice-name"><%= link_to invoice.invoice_number, terminal_staff_invoice_path(@terminal, invoice), remote: true %></td>

		      <% customer_name = invoice.customer_name || "CUST-#{invoice.id}" %>
		      <td class="invoice-name"><%= link_to customer_name, terminal_staff_invoice_path(@terminal, invoice), remote: true %></td>

		      <td class="invoice-name" style="text-align: center;"><%= invoice.invoice_date.strftime("%m/%d/%Y") if invoice.invoice_date %></td>

		      <td class="invoice-name" style="text-align: center;"><%= number_to_currency invoice.total_amount, unit: "" %></td>

		    </tr>
		  <% end %>
	  </tbody>
	</table>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= paginate_kuppayam(invoices) %>
  </div>
</div>

