<%= form_for([:admin, @region], :html => {:id=>"form_region", :class=>"mb-0 form-horizontal", :region => "form", :method => (@region.new_record? ? :post : :put), :remote=>true}) do |f| %>

      <div id="region_form_error">
        <%= @region.errors[:base].to_sentence %>
      </div>

      <div class="form-inputs mb-30 mt-30">
        <%= theme_form_field(@region, :name) %>
        <%= theme_form_field(@region, :code) %>

        <% options = {assoc_collection: Country.select("id, name").order("name ASC").all, required: true, editable: true, assoc_display_method: :name} %>
        <%= theme_form_assoc_group(@region, :country_id, **options) %>
        
      </div>
    
      <div>

        <%= submit_tag("Save", :class=>"btn btn-primary pull-right ml-10") %>
        
        <%= link_to raw("<i class='fa fa-close mr-5'></i><span>Cancel</span>"), "#", onclick: "closeGenericModal();", class: "pull-right ml-10 btn btn-white" %>
        
      </div>
      <%= clear_tag(10) %>

  </div>

<% end %>

