<% edit_link = edit_admin_region_path(id: region.id) %>
<% delete_link = admin_region_path(id: region.id) %>

<tr id="tr_region_<%= region.id %>">

  <th scope="row" style="text-align: center;">
    <% if i < 0 %>
      <i class="fa fa-check text-success"></i>
    <% else %>
      <%= i + 1 + (@per_page.to_i * (@current_page.to_i - 1)) %>
    <% end %>
  </th>

  <td class="region-name"><%= link_to region.name, admin_region_path(region), remote: true %></td>

  <td class="region-name"><%= link_to region.code, admin_region_path(region), remote: true %></td>

  <td class="region-name"><%= link_to region.country.try(:name), admin_region_path(region), remote: true %></td>

  <td class="action-links" style="width:10%">

    <%= link_to raw("<i class=\"linecons-pencil\"></i> Edit Region"), edit_link, :remote=>true, class: "edit" %>

    <%= link_to raw("<i class=\"linecons-trash\"></i> Delete"), delete_link, method: :delete, region: "menuitem", tabindex: "-1", data: { confirm: 'Are you sure?' }, :remote=>true, class: "delete" %>

  </td>

</tr>