<div class="row">
      
  <div class="col-md-12">
    
    <ul class="nav nav-tabs">
    </ul>
    <div class="tab-content">
      <div class="tab-pane active">

        <div id="div_country_action_buttons">
          <div class="row">
            <div class="col-md-6">
              
              <%= theme_button('Add a Country', 'plus', new_admin_country_path(), classes: "pull-left", btn_type: "success") %>

              <%= theme_button('Refresh', 'refresh', admin_countries_path(), classes: "pull-left ml-10", btn_type: "white") %>

              <!-- Single button -->
              <div class="ml-10 btn-group hidden">
                <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  More Actions <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#">Import Users</a></li>
                  <li><a href="#">Import History</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Export Users</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <%= search_form_kuppayam(Country, admin_countries_path, text: @filters[:query]) %>
            </div>
          </div>
        </div>
        <%= clear_tag(10) %>

        <div id="div_country_index">
          <%= render :partial=>"vyapari/admin/countries/index" %>
        </div>
        <%= clear_tag(10) %>

      </div>
    </div>

  </div>

</div>