<div class="table-responsive table-scrollable">
	<table class="table table-striped table-condensed table-bordered"> 
		<thead>
			<tr> 
				<th style="text-align: center;width:60px">#</th> 
				<th>Product Name</th>
				<th style="width:15%;text-align: center;">EAN/SKU</th>
				<th style="text-align: right;">PP</th>
				<th style="text-align: right;">LP</th>
				<th style="text-align: right;">SP</th>
				<th style="text-align: right;">RP</th>
				<th style="text-align: center;">Quantity</th>
				<th>Status</th>
				<th style="text-align: center;">Actions</th>
			</tr> 
		</thead>
		<tbody> 
			
			<%# filters_to_add = {permalink: @current_company_group.permalink, code: @current_company.code } %>

			<%# short_filters = generate_short_url_filters(@filters, filters_to_add, [:store, :terminal]) %>

			<%#= link_to item.name, jobs_path(short_filters.merge(br: item.id)), target: :blank %>

			<% @results.each_with_index do |item, i| %>
				<tr> 
					<th scope="row" style="text-align: center;"><%= i + 1 + (@per_page.to_i * (@current_page.to_i - 1)) %></th>
					
					<td>
						<%= link_to item.name, "#", target: :blank %>
					</td>

					<td>
						<%= item.ean_sku %>
					</td>

					<td style="text-align: right;"><%= number_to_currency item.purchased_price, unit: "AED " %></td>

					<td style="text-align: right;"><%= number_to_currency item.landed_cost, unit: "AED " %></td>

					<td style="text-align: right;"><%= number_to_currency item.miscellaneous_cost, unit: "AED " %></td>

					<td style="text-align: right;"><%= number_to_currency item.discount, unit: "AED " %></td>

					<td style="text-align: right;"><%= number_to_currency item.cost_price, unit: "AED " %></td>

					<td style="text-align: right;"><%= number_to_currency item.wholesale_price, unit: "AED " %></td>

					<td style="text-align: right;"><%= number_to_currency item.retail_price, unit: "AED " %></td>

					<td>
						<%#= item.se_quantity %>
					</td>

					<td>
						<%#= item.se_status %>
					</td>

				</tr>
			<% end %>
		</tbody> 
		<tfoot> 
			<% if @total && @total.first && @total.first.purchased_price %>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					
					<td style="font-weight: bold;text-align: right;"><%= number_to_currency @total.first.purchased_price.to_s, unit: "AED " %></td>
					
					<td style="font-weight: bold;text-align: right;"><%= number_to_currency @total.first.landed_cost.to_s, unit: "AED " %></td>

					<td style="font-weight: bold;text-align: right;"><%= number_to_currency @total.first.miscellaneous_cost.to_s, unit: "AED " %></td>

					<td style="font-weight: bold;text-align: right;"><%= number_to_currency @total.first.discount.to_s, unit: "" %></td>
					
					<td style="font-weight: bold;text-align: right;"><%= number_to_currency @total.first.cost_price.to_s, unit: "AED " %></td>

					<td style="font-weight: bold;text-align: right;"><%= number_to_currency @total.first.wholesale_price.to_s, unit: "AED " %></td>
					
					<td style="font-weight: bold;text-align: right;"><%= number_to_currency @total.first.retail_price.to_s, unit: "AED " %></td>
					
					<td></td>
					<td></td>
				</tr>
			<% end %>
		</tfoot> 
	</table>
</div>