<div class="table-responsive"> 
	<table class="table table-hover members-table middle-align">
	  <thead> 
			<tr> 
				<th style="text-align: center;width:60px">#</th> 
				<th>Name</th>
				<th>Parent Category</th>
				<th>Top Category</th>
				<th>Priority</th>
				<th>Featured</th>
				<th>Status</th>
				<th style="text-align: center;" colspan="3">Actions</th>
			</tr> 
		</thead>
		
	  <tbody>
	  	<% @categories.each_with_index do |category, i| %>
	  		
	  		<% edit_link = edit_admin_category_path(id: category.id) %>
				<% delete_link = admin_category_path(id: category.id) %>
				
		    <tr id="tr_category_<%= category.id %>">
		      
		      <th scope="row" style="text-align: center;">
						<% if i < 0 %>
							<i class="fa fa-check text-success"></i>
						<% else %>
							<%= i + 1 + (@per_page.to_i * (@current_page.to_i - 1)) %>
						<% end %>
					</th>

		      <td class="category-name"><%= link_to category.name, admin_category_path(category), remote: true %></td>

		      <td class="category-name"><%= link_to category.parent.name, admin_category_path(category), remote: true if category.parent %></td>

		      <td class="category-name"><%= link_to category.top_parent.name, admin_category_path(category), remote: true if category.top_parent %></td>

		      <td class="category-name"><%= category.priority%></td>

		      <td class="hidden-xs hidden-sm">
				  	<% if category.featured? %>
				      <span class="mr-10 mt-5 label label-warning">Featured</span>
				    <% end %>
				  </td>

				  <td>
				  	<% if category.unpublished? %>
				  		<span class="ml-5 mt-5 label label-default">Un-Published</span>
				  	<% elsif category.published? %>
				  		<span class="ml-5 mt-5 label label-success">Published</span>
				  	<% elsif category.removed? %>
				  		<span class="ml-5 mt-5 label label-danger">Removed</span>
				  	<% end %>
				  </td>

				  <td class="action-links" style="width:10%">

				    <!-- Mark as Featured -->
				    <%= link_to raw("<i class=\"fa fa-circle-o mr-5\"></i> Mark as Featured"), mark_as_featured_admin_category_path(:id =>category.id, :status =>'published'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1", :class=>"edit" unless category.featured? %>

				    <!-- Remove from Featured -->
				    <%= link_to raw("<i class=\"fa fa-circle mr-5\"></i> Remove from Featured"), remove_from_featured_admin_category_path(:id =>category.id, :status =>'unpublished'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1", :class=>"" if category.featured? %>

				    <!-- Make Parent -->
				    <%= link_to raw("<i class=\"fa fa-circle mr-5\"></i> Make Parent"), make_parent_admin_category_path(:id =>category.id, :status =>'unpublished'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1", :class=>"" unless category.parent.blank? %>

				  </td>

				  <td class="action-links" style="width:10%">

		      	<!-- Publish -->
				    <%= link_to raw("<i class=\"fa fa-circle-o mr-5\"></i> Publish"), update_status_admin_category_path(:id =>category.id, :status =>'published'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1", :class=>"edit" if category.can_be_published? %>

				    <!-- Un-Publish -->
				    <%= link_to raw("<i class=\"fa fa-circle mr-5\"></i> Un-Publish"), update_status_admin_category_path(:id =>category.id, :status =>'unpublished'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1", :class=>"" if category.can_be_unpublished? %>

				    <!-- Remove -->
				    <%= link_to raw("<i class=\"fa fa-edit mr-5\"></i> Remove"), update_status_admin_category_path(:id =>category.id, :status =>'removed'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1", :class=>"delete" if category.can_be_removed? %>

		      </td>

		      <td class="action-links" style="width:10%">

		      	<%= link_to raw("<i class=\"linecons-pencil\"></i> Edit Brand"), edit_link, :remote=>true, class: "edit" if category.can_be_edited? %>

		        <%= link_to raw("<i class=\"linecons-trash\"></i> Delete"), delete_link, method: :delete, category: "menuitem", tabindex: "-1", data: { confirm: 'Are you sure?' }, :remote=>true, class: "delete" if category.can_be_deleted? %>

		      </td>

		    </tr>
		  <% end %>
	  </tbody>
	</table>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= paginate_kuppayam(@categories) %>
  </div>
</div>

