<%= form_for([:admin, @user], :html => {:id=>"form_user", :class=>"mb-0 form-horizontal", :role => "form", :method => (@user.new_record? ? :post : :put), :remote=>true}) do |f| %>

      <div id="user_form_error">
        <%= @user.errors[:base].to_sentence %>
      </div>

      <div class="form-inputs mb-30 mt-30">
      
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <%= theme_form_field(@user, :name) %>
            <%= theme_form_field(@user, :username) %>
            <%= theme_form_field(@user, :email) %>
            <%= theme_form_field(@user, :designation, required: false) %>
          </div>

          <div class="col-md-6 col-xs-12">
            <%= theme_form_field(@user, :phone, required: false) %>
            <% if @user.new_record? %>
              <%= theme_form_field(@user, :password, required: true, html_options: {type: :password}) %>
              <%= theme_form_field(@user, :password_confirmation, required: true, html_options: {type: :password}, label: "Retype Password") %>
            <% end %>
          </div>
        </div>
        
      </div>
    
      <div>

        <%= submit_tag("Save", :class=>"btn btn-primary pull-right ml-10") %>
        
        <%= link_to raw("<i class='fa fa-close mr-5'></i><span>Cancel</span>"), "#", onclick: "closeLargeModal();", class: "pull-right ml-10 btn btn-white" %>
        
      </div>
      <%= clear_tag(10) %>
  </div>

<% end %>

