<% edit_link = edit_admin_user_path(id: user.id) %>
<% delete_link = admin_user_path(id: user.id) %>

<tr id="tr_user_<%= user.id %>">

  <!-- <td class="user-cb">
    <input type="checkbox" class="cbr" name="users[]" value="1" checked />
  </td> -->

  <th scope="row" style="text-align: center;">
    <% if i < 0 %>
      <i class="fa fa-check text-success"></i>
    <% else %>
      <%= i + 1 + (@per_page.to_i * (@current_page.to_i - 1)) %>
    <% end %>
  </th>

  <td class="user-image hidden-xs hidden-sm">
    <%= link_to(admin_user_path(user), remote: true) do %>
              <%= display_image(user, "profile_picture.image.small.url", width: "120", height: "auto", class: "img-rectangle", alt: user.display_name) %>
            <% end %>
  </td>

  <td class="user-name"><%= link_to user.name, admin_user_path(user), remote: true %></td>

  <td class="hidden-xs hidden-sm"><%= link_to user.username, admin_user_path(user), remote: true %></td>

  <td class="hidden-xs hidden-sm"><%= link_to user.email, admin_user_path(user), remote: true, class: "email" %></td>

  <% if @current_user.is_super_admin? %>
  <td class="hidden-xs hidden-sm">
  	<% if user.super_admin %>
      <span class="mr-10 mt-5 label label-warning">Super Admin</span>
    <% else %>
    	<span class="mr-10 mt-5 label label-default">Normal</span>
    <% end %>
  </td>
  <% end %>

  <td>
  	<% if user.pending? %>
  		<span class="ml-5 mt-5 label label-default">Pending</span>
  	<% elsif user.approved? %>
  		<span class="ml-5 mt-5 label label-success">Approved</span>
  	<% elsif user.suspended? %>
  		<span class="ml-5 mt-5 label label-danger">Suspended</span>
  	<% end %>
  </td>

  <td class="action-links" style="width:15%">

  	<%= link_to raw("<i class=\"linecons-pencil\"></i> Edit User"), edit_link, :remote=>true, class: "edit" if @user.can_be_edited? %>

    <%= link_to raw("<i class=\"linecons-trash\"></i> Delete"), delete_link, method: :delete, role: "menuitem", tabindex: "-1", data: { confirm: 'Are you sure?' }, :remote=>true, class: "delete" if @user.can_be_deleted? && (@current_user != user) %>
    
  </td>

  <td class="action-links" style="width:15%">

  	<!-- Approve -->
    <%= link_to raw("<i class=\"fa fa-circle-o mr-5\"></i> Approve"), update_status_admin_user_path(:id =>user.id, :status =>'approved'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1" if user.can_be_approved? %>

    <!-- Mark as Pending -->
    <%= link_to raw("<i class=\"fa fa-circle mr-5\"></i> Mark as Pending"), update_status_admin_user_path(:id =>user.id, :status =>'pending'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1" if user.can_be_marked_as_pending? %>
      
    <!-- Suspend -->
    <%= link_to raw("<i class=\"fa fa-edit mr-5\"></i> Suspend"), update_status_admin_user_path(:id =>user.id, :status =>'suspended'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1" if user.can_be_suspended? %>

  </td>
  
</tr>

