<div id="div_user_show">
	<% status_hash = {approved: "success", pending: "default", suspended: "danger"} %>

	<div class="row">

	  <div class="col-md-3 col-sm-12 col-xs-12" style="border-right:1px solid #f1f1f1;">
	  	
	  	<%= edit_image(@user, 
	                  "profile_picture.image.large.url",
	                  upload_image_link(@user, :profile_picture, nil ),
	                  remove_image_link(@user, :profile_picture, nil ),
	                  image_options: {assoc_name: :profile_picture }) %>
	  </div>

	  <div class="col-md-6 col-sm-12 col-xs-12" style="border-right:1px solid #f1f1f1;">

	  	<div class="visible-sm visible-xs mt-50"></div>

	  	<%= theme_panel_heading(@user.name) %>
	    <%= theme_panel_sub_heading(@user.designation, "#") if @user.designation %>
	    
	    <%= clear_tag(10) %>

	    <span class="ml-5 mt-5 label label-<%= status_hash[@user.status.to_sym] %>"><%= @user.status.titleize %></span>

	  	<% if @user.super_admin %>
	      <span class="mr-10 mt-5 label label-warning">Super Admin</span>
	    <% else %>
	    	<span class="mr-10 mt-5 label label-default">Normal</span>
	    <% end %>
	    
	    <%= clear_tag(10) %>

	    <!-- <div class="mt-20" style="max-width: 100%;overflow: auto;max-height: 500px;">
	      <%#= raw(@user.biography) %>
	    </div> -->

	    <div class="visible-sm visible-xs mb-50"></div>

	    </div>

	  <div class="col-md-3 col-sm-12 col-xs-12">

	  	<% edit_link = edit_admin_user_path(id: @user.id) %>
			<% delete_link = admin_user_path(id: @user.id) %>

			<%= link_to raw("<i class=\"linecons-pencil\"></i> Edit User"), edit_link, :remote=>true, class: "btn btn-block btn-success" if @user.can_be_edited? %>

	    <%= link_to raw("<i class=\"linecons-trash\"></i> Delete"), delete_link, method: :delete, role: "menuitem", tabindex: "-1", data: { confirm: 'Are you sure?' }, :remote=>true, class: "btn btn-block btn-danger btn-only-hover" if @user.can_be_deleted? && (@current_user != @user)  %>

	    <% if @current_user.super_admin? %>
	      
	      <%= link_to raw("<i class=\"linecons-paper-plane\"></i> Masquerade"), masquerade_admin_user_path(@user), method: :put, data: { confirm: "Are you sure? Do you really want to logout current session and login as #{@user.name}?" }, class: "btn btn-block btn-gray btn-only-hover" if @current_user != @user %>

	      <!-- Remove Super Admin -->
		    <%= link_to raw("<i class=\"fa fa-remove mr-5\"></i> Remove Super Admin"), remove_super_admin_admin_user_path(id: @user.id), method: :put, :remote=>true, role: "menuitem", tabindex: "-1", :class=>"btn btn-block btn-danger btn-only-hover" if @user.super_admin? && (@current_user != @user) %>

		    <!-- Make Super Admin -->
		    <%= link_to raw("<i class=\"fa fa-plus-square mr-5\"></i> Make Super Admin"), make_super_admin_admin_user_path(id: @user.id), method: :put, remote: true, role: "menuitem", tabindex: "-1", :class=>"btn btn-block btn-gray btn-only-hover" unless @user.super_admin? %>

	    <% end %>

	    <!-- Approve -->
	    <%= link_to raw("<i class=\"fa fa-circle-o mr-5\"></i> Approve"), update_status_admin_user_path(:id =>@user.id, :status =>'approved'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1", :class=>"btn btn-block btn-success btn-only-hover" if @user.can_be_approved? %>

	    <!-- Mark as Pending -->
	    <%= link_to raw("<i class=\"fa fa-circle mr-5\"></i> Mark as Pending"), update_status_admin_user_path(:id =>@user.id, :status =>'pending'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1", :class=>"btn btn-block btn-gray btn-only-hover" if @user.can_be_marked_as_pending? && (@current_user != @user) %>
	    	
	    <!-- Suspend -->
	    <%= link_to raw("<i class=\"fa fa-edit mr-5\"></i> Suspend"), update_status_admin_user_path(:id =>@user.id, :status =>'suspended'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1", :class=>"btn btn-block btn-danger btn-only-hover" if @user.can_be_suspended? && (@current_user != @user) %>

	    <div class="visible-sm visible-xs mb-50"></div>

	  </div>

	</div>

	<%= clear_tag(50) %>

	<ul class="nav nav-pills">
	  <li class="active">
	    <a href="#user_details" data-toggle="tab" aria-expanded="true">
	      <span class="visible-xs"><i class="fa-info"></i></span>
	      <span class="hidden-xs">User Details</span>
	    </a>
	  </li>
	  <li class="">
	    <a href="#technical_details" data-toggle="tab" aria-expanded="false">
	      <span class="visible-xs"><i class="fa-database"></i></span>
	      <span class="hidden-xs">Technical Details</span>
	    </a>
	  </li>
	</ul>

	<div class="tab-content">
	  <div class="tab-pane active" id="user_details">
	      
	    <%= clear_tag(20) %>

	    <div class="table-responsive mt-30"> 
		    <table class="table table-striped table-condensed table-bordered"> 
					<tbody>
						
						<tr>
							<th>Username</th><td><%= @user.username %></td>
							<th>Email</th><td><%= @user.email %></td>
						</tr>

						<tr>
							<th>Phone</th><td><%= @user.phone %></td>
							<th>Designation</th><td><%= @user.designation %></td>
						</tr>

						<tr>
							<th>Super Admim?</th><td><%= @user.super_admin %></td>
							<th>Status</th><td><%= @user.status.titleize %></td>
						</tr>
						
					</tbody>
				</table>
			</div>
		
		</div>

		<div class="tab-pane" id="technical_details">
	    
	    <%= clear_tag(20) %>

	    <div class="table-responsive"> 
				<table class="table table-striped table-condensed table-bordered mb-30"> 
					<tbody>
						
						<tr>
							<th style="width:20%;">Sign In Count</th><td style="width:30%;"><%= @user.sign_in_count %></td>
							<th style="width:20%;">Remember User</th><td style="width:30%;"><%= @user.remember_created_at.strftime("%m/%d/%Y - %H:%M:%S") if @user.remember_created_at %></td>
						</tr>

						<tr>
							<th>Current Sign In At</th><td><%= @user.current_sign_in_at.strftime("%m/%d/%Y - %H:%M:%S") if @user.current_sign_in_at %></td>
							<th>Last Sign In At</th><td><%= @user.last_sign_in_at.strftime("%m/%d/%Y - %H:%M:%S") if @user.last_sign_in_at %></td>
						</tr>

						<tr>
							<th>Current Sign In IP</th><td><%= @user.current_sign_in_ip %></td>
							<th>Last Sign In IP</th><td><%= @user.last_sign_in_ip %></td>
						</tr>

					</tbody>
				</table>

				<table class="table table-striped table-condensed table-bordered"> 
					<tbody>

						<tr>
							<th style="width:20%;">Reset Password Token</th><td style="width:30%;"><%= @user.reset_password_token %></td>
							<th style="width:20%;">Reset Password Sent At</th><td style="width:30%;"><%= @user.reset_password_sent_at.strftime("%m/%d/%Y - %H:%M:%S") if @user.reset_password_sent_at %></td>
						</tr>

						<tr>
							<th>Locked At</th><td colspan="3"><%= @user.locked_at.strftime("%m/%d/%Y - %H:%M:%S") if @user.locked_at %></td>
						</tr>

						<tr>
							<th>Failed Attempts</th><td><%= @user.failed_attempts %></td>
							<th>Unlock Token</th><td><%= @user.unlock_token %></td>
						</tr>

						<tr>
							<th>Confirmation Token</th><td><%= @user.confirmation_token %></td>
							<th>Confirmation Token Sent At</th><td><%= @user.confirmed_at.strftime("%m/%d/%Y - %H:%M:%S") if @user.confirmed_at %></td>
						</tr>

						<tr>
							<th>Confirmation Sent At</th><td><%= @user.confirmation_sent_at.strftime("%m/%d/%Y - %H:%M:%S") if @user.confirmation_sent_at %></td>
							<th>Uncomfirmed Email</th><td><%= @user.unconfirmed_email %></td>
						</tr>

						<tr>
							<th>Auth Token</th><td><%= @user.auth_token %></td>
							<th>Token Created At</th><td><%= @user.token_created_at.strftime("%m/%d/%Y - %H:%M:%S") if @user.token_created_at %></td>
						</tr>

						<tr>
							<th>Created At</th><td><%= @user.created_at.strftime("%m/%d/%Y - %H:%M:%S") if @user.created_at %></td>
							<th>Updated At</th><td><%= @user.updated_at.strftime("%m/%d/%Y - %H:%M:%S") if @user.updated_at %></td>
						</tr>
						
					</tbody>
				</table>
			</div>

	  </div>

	</div>

	<%= link_to "Close", "#", onclick: "closeLargeModal();", class: "btn btn-primary pull-right" %>

	<%= clear_tag %>
</div>